# Node dependencies
node_modules/
.next/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Файлы окружения (секреты!)
.env
.env.*

# Кэши
.cache/
.tmp/
dist/
build/
coverage/

# IDE/редакторы
.vscode/
.idea/
*.swp

# ОС-специфичное
.DS_Store
Thumbs.db

# Типы файлов, которые не нужны в репо
*.local
*.pid
*.seed

*.json